<div id="colorlib-page">
  <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
  <aside id="colorlib-aside" role="complementary" class="border js-fullheight">
    <img id="colorlib-logo" src="../../assets/images/favicon.png">
    <nav id="colorlib-main-menu" role="navigation">
      <ul>
        <li class="colorlib-active"><a href="/home" (click)="getActiveTab('home')" [class.active]="activetab === 'home'">Home</a></li>
        <li routerLink="active"><a href="#">Project</a></li>
        <li routerLink="active"><a routerLink="/about" (click)="getActiveTab('about')" [class.active]="activetab === 'about'">About</a></li>
        <li routerLink="active"><a routerLink="/servicios" (click)="getActiveTab('servicios')" [class.active]="activetab === 'servicios'">Services</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <div class="colorlib-footer">
      <p><small>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> Art business Technology| 2020 <i class="icon-heart" aria-hidden="true"></i>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </small></p>
      <ul>
        <li><a target="_blank" href="https://www.facebook.com/villateabt/"><i class="icon-facebook2"></i></a></li>
        <li><a target="_blank" href="https://api.whatsapp.com/send?phone=573117046885"><i class="icon-whatsapp"></i></a></li>
      </ul>
    </div>

  </aside>
</div>
